<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ConnectedIN</title>
</head>
<body>
    <h1>Bem-vindo ao ConnectedIN</h1>
    {% now "d/m/Y"%}
    <br>
    {% if perfis %}
    <ul>
        {% for perfil in perfis%}
            <li>
                <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome|upper }} </a> / {{ perfil.email }}
            </li>
        {%  endfor % %}
    </ul>
    {% else %}
    <p>Nenhum perfil encontrado</p>
    {% endif %}
</body>
</html>